{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard",
  ],
  "env": {
    "es6": true,
    "node": true,
  	"browser": true,
    "jest": true,
  },
  "plugins": [
    "flowtype",
    "react",
    "prettier",
    "standard",
    "import",
    "jsx-a11y",
  ],
  "rules": {
    "no-console": ["warn", { allow: ["info", "warn", "error"] }],
    "no-debugger": "warn",
    "no-confusing-arrow": "error",
    "no-constant-condition": "warn",
    "max-len": ["error", {"code": 80, "ignoreUrls": true}],
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "linebreak-style": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "warn",
    "import/named": 0,
    "import/no-named-as-default-member": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "prettier/prettier": "error",
  }
}
